window#osd {
    padding: 0;
    margin: 0;
    margin-top: 100px;
    min-height: 0;
    border-radius: 12px;
    /* border: 1px solid #ebdbb2; */
    border: none;
    box-shadow: none;
    background: #1d2021;
    color: #282828;
}

#container {
    margin: 0;
    padding: 4px;
    min-width: 0;
}

image {
    color: #ebdbb2;
    background: #282828;
    /* padding: 9px 0 9px 11px; */
    padding: 11px;
    margin: 0;
    border-radius: 8px;
}

label, progressbar {
    min-height: 52px;
    min-width: 154px;
    background: #1d2021;
    color: #ebdbb2;
    border-radius: 8px;
}

progressbar:disabled,
image:disabled {
    opacity: 1;
}

progressbar:disabled progress {
    background: #689d6a;
}

progressbar {
    min-height: 52px;
    min-width: 150px;
    border-radius: 4px;
    background: #282828;
    border: none;
    margin: 0;
    padding: 0;
    margin-left: -8px;
}
trough {
    min-height: 52px;
    border-radius: 8px;
    border: none;
    background: #689d6a;
    margin: 0;
    padding: 0;
}

progress {
    min-height: 52px;
    border-radius: 0;
    border: none;
    background: #89b482;
    margin: 0;
    padding: 0;
}
